<h1>Game: <%= @game.id %></h1>
<% round_num = Round.all.where(game_id: @game.id).length %>

<% if round_num > 0 %>
    <h2>Round: <%= round_num %></h2>
<% end %>

<% if !@trick.nil? %>

<% trick_cards = Card.all.where(trick_id: @trick.id) %>

<% trick_cards = trick_cards.sort {|a, b| a.updated_at <=> b.updated_at} %>

<h2>Trick</h2>

<% trick_cards.each do |card| %>

<p class="card <%=card.suit.downcase %>"><%= card.card_pic %></p>

<% end %>

<% end %>

    <% @players.each do |player| %>

        <p><%= User.find(player.user_id).username %></p>

        <p><%= player.total_points %></p>

        <% cards = Hand.find_by(player_id: player.id).cards %>

        <% cards.each do |card| %>

          <% if !card.played %>

            <% if @played_cards % 4 == @players.index(player) %>

                <a class="card <%=card.suit.downcase %>" href="/play/<%= card.id %>"><%= card.card_pic %></a>

            <% end %>

          <% end %>

        <% end %>

    <% end %>

<% if @played_cards == 52 %>

<a href="/rounds/<%= @game.id %>/new">Next Round</a>

<% end %>
