<h1>Game: <%= @game.id %></h1>
<% round_num = Round.all.where(game_id: @game.id).length %>

<% if round_num > 0 %>
    <h2>Round: <%= round_num %></h2>
<% end %>

<% if !@trick.nil? %>

<% trick_cards = Card.all.where(trick_id: @trick.id) %>



<h2>Trick</h2>

<% trick_cards.each do |card| %>

<p><%= card.number %> of <%= card.suit %></p>

<% end %>

<% end %>

    <% @players.each do |player| %>

        <p><%= User.find(player.user_id).username %></p>
        <p><%= player.total_points %></p>

        <% cards = Hand.find_by(player_id: player.id).cards %>

        <% cards.each do |card| %>

          <% if !card.played %>

            <p><a href="/play/<%= card.id %>"><%= card.number %> of <%= card.suit %></a></p>
          <% end %>

        <% end %>

    <% end %>



<a href="/rounds/<%= @game.id %>/new">Next Round</a>
