<h1>Game: <%= @game.id %></h1>

<% round = Round.all.where(game_id: @game.id).length %>

<% if round > 0 %>
    <h2>Round: <%= round %></h2>
<% end %>

    <% @players.each do |player| %>

        <p><%= User.find(player.user_id).username %></p>
        <p><%= player.points %></p>

        <% cards = Hand.find_by(player_id: player.id).cards %>

        <% cards.each do |card| %>
        <p> <%= card.value %> of <%= card.suit %> </p>
        <% end %>

    <% end %>

<a href="/rounds/<%= @game.id %>/new">Next Round</a>
